.idea/*
face_recognition/*
/face_recognition/
com/recognizer/face/dataset/*
com/recognizer/face/labels.pickle
com/recognizer/face/trainer.yml
com/FaceRecognizer.py
com/FaceTester.py
venv2
venv
com/recognizer/gestures
com/controllers/snap_controller.py